* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
img {
  display: none;
}
textarea {
  display: none;
}
i {
  margin: 1rem;
  font-size: 15px;
}
body {
  width: 100vw;
}
html {
  width: 100vw;
  font-family: "Poppins", sans-serif;
}
header {
  height: 500px;
}
section {
  padding: 0 2rem;
}
header {
}
.headerContainer {
  display: flex;
  height: 100%;
  background: url("https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/b6cf7f5f75c05d87aae0ac1e/pexels-photo-941245.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
}
.hamburger-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.hamburger {
  width: 2rem;
  height: 1.8rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger:hover {
  transform: rotate(180deg);
  transition: all 1s;
}
.hamburger-line {
  background-color: #000;
  height: 5px;
  border-radius: 3px;
}
.headerBox {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerImg {
  background-color: white;
  border: 15px solid blue;
  height: fit-content;
  padding: 1rem;
  width: 180px;
  height: 180px;
}
.headerImg > h1 {
  font-size: 1.5rem;
}
.headerText {
  padding: 8rem 2rem 0;
  width: 60%;
}
.headerText > p:nth-of-type(2) {
  margin-top: 1rem;
  font-weight: 600;
}

.howItWorks {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howItWorks p {
  max-width: 500px;
  text-align: center;
}

.howItWorksContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.howItWorks__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.howItWorks--item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 2rem;
}
.howItWorks--item > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howItWorks__header > h1 {
  padding: 1rem 0;
  font-size: 2rem;
}
.howItWorksContainer p {
  max-width: 150px;
}
.stepImg {
  justify-content: space-between;
}
.ourTeamImg {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.ourTeamImages {
  display: flex;
}
.testimonialsRowsContainer {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .howItWorksContainer {
    flex-direction: column;
  }
}
